@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Criar Novo Cliente</a>
    <a class="btn btn-secondary" asp-action="VisualizarClientes">Visualizar Clientes</a>
</p>
